[Unit]
Description=Apache Tomcat Server
After=network.target

[Service]
Type=forking
Environment=JAVA_HOME=/usr/lib/jvm/java-1.11.0-openjdk-amd64/
Environment=CATALINA_HOME=/home/ubuntu/middleware/apache-tomcat-9.0.55
Environment=CATALINA_BASE=/home/ubuntu/middleware/apache-tomcat-9.0.55

ExecStart=/home/ubuntu/middleware/apache-tomcat-9.0.55/bin/startup.sh
ExecStop=/home/ubuntu/middleware/apache-tomcat-9.0.55/bin/shutdown.sh

User=ubuntu
Group=ubuntu
RestartSec=20
Restart=always

[Install]
WantedBy=multi-user.target
