[Unit]
Description=Tomcat Server
After=network.target

[Service]
Type=forking
Environment=JAVA_HOME=/usr/lib/jvm/java-11-openjdk-amd64/
Environment=CATALINA_HOME=/home/ubuntu/u01/middleware/tomcat9
Environment=CATALINA_BASE=/home/ubuntu/u01/middleware/tomcat9

ExecStart=/home/ubuntu/u01/middleware/tomcat9/bin/startup.sh
ExecStop=/home/ubuntu/u01/middleware/tomcat9/bin/shutdown.sh

User=tomcat
Group=tomcat
RestartSec=20
Restart=always

[Install]
WantedBy=multi-user.target
